<section data-ng-controller="PurchasersController" data-ng-init="find()">
    <div class="page-header">
        <h1>Purchasers</h1>
    </div>
    <div class="row" data-ng-show="!purchasers.$resolved || purchasers.length">
        <div class="col-md-12">
            <form>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-search"></i></div>
                        <input type="text" class="form-control" placeholder="Search any part of purchaser"
                               ng-model="searchText">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div data-ng-repeat="purchaser in purchasers  | filter:searchText">
            <customer-brief-details customer="purchaser" to="{
			enableEdit: true,
			enableCreateNotes: false,
			enableViewNotes: false,
			enableProfileView: false,
			enablePropertyCreate: false,
			enableCreatePropertySearchProfile: true,
			enableViewPropertySearchProfile: true,
			customerType:'purchasers',
		}">
            </customer-brief-details>
        </div>
    </div>
    <div class="alert alert-warning text-center" data-ng-if="purchasers.$resolved && !purchasers.length">
        No purchasers yet, why don't you <a href="/#!/purchasers/create">create purchaser</a>?
    </div>
</section>
