<div class="bs-callout bs-callout-info">
    <div class="row">
        <div class="col-lg-12">
            <h2>
                <span data-ng-bind="customer.title"></span>
                <span data-ng-bind="customer.firstName"></span>
                <span data-ng-bind="customer.lastName"></span>
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <ui-gravatar gravatar-email="customer.emailPrimary" gravatar-options="options"></ui-gravatar>
        </div>
        <div class="col-lg-9">
            <div class="row">
                <div class="col-lg-4">
                    <h4><strong>Address:</strong></h4>
                    <h5 data-ng-bind="customer.addressLine1"></h5>
                    <h5 data-ng-bind="customer.addressLine2"></h5>
                    <h5 data-ng-bind="customer.addressLine3"></h5>
                    <h5 data-ng-bind="customer.addressLine4"></h5>
                    <h5 data-ng-bind="customer.postcode"></h5>
                </div>
                <div class="col-lg-4">
                    <h4><strong>Contact Phone:</strong></h4>
                    <h5 data-ng-bind="customer.phonePrimary"></h5>
                    <h5 data-ng-bind="customer.phoneSecondary"></h5>
                </div>
                <div class="col-lg-4">
                    <h4><strong>Contact Email:</strong></h4>
                    <h5 data-ng-bind="customer.emailPrimary"></h5>
                    <h5 data-ng-bind="customer.emailSecondary"></h5>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <small>
                        <em class="text-muted">
                            Created on
                            <span data-ng-bind="customer.created | date:'mediumDate'"></span>
                            by
                            <span data-ng-bind="customer.user.displayName"></span>
                        </em>
                    </small>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <br/>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <a ng-show="templateOptions.enableEdit" class="btn btn-success" role="button"
               href="#!/{{templateOptions.customerType}}/{{customer._id}}/edit">Edit Customer</a>
            <a ng-show="templateOptions.enableViewNotes" class="btn btn-success" role="button"
               href="#!/notes/{{templateOptions.customerType}}/{{customer._id}}/view">View Notes</a>
            <a ng-show="templateOptions.enableCreateNotes" class="btn btn-success" role="button"
               href="#!/notes/{{templateOptions.customerType}}/{{customer._id}}/create">Create
                Notes</a>
            <a ng-show="templateOptions.enableProfileView" class="btn btn-success" role="button"
               href="#!/profile/{{templateOptions.customerType}}/{{customer._id}}/view">View
                Complete Profile</a>
            <a ng-show="templateOptions.enablePropertyCreate" class="btn btn-success" role="button"
               href="#!/property/{{templateOptions.customerType}}/{{customer._id}}/create">Create
                Property</a>
            <a ng-show="templateOptions.enableCreatePropertySearchProfile" class="btn btn-success" role="button"
               href="#!/purchaser/searchprofile/{{templateOptions.customerType}}/{{customer._id}}/create">Create
                Search Profile</a>
            <a ng-show="templateOptions.enableViewPropertySearchProfile" class="btn btn-success" role="button"
               href="#!/purchaser/searchprofile/{{templateOptions.customerType}}/{{customer._id}}/view">View
                Search Profile</a>
        </div>
    </div>
</div>
