<section data-ng-controller="PurchasercontactnotesController" data-ng-init="findPurchaserOne()">
    <div class="page-header">
        <h1>Update Purchaser Notes</h1>
    </div>
    <customer-brief-details customer="purchaser">
    </customer-brief-details>
    <form name="contactNotesForm" class="form-horizontal" data-ng-submit="create()" novalidate>
        <div class="row">
            <div class="col-md-12">
                <h3>Update Notes</h3>
                <text-angular ng-model="htmlVariable"></text-angular>
                <br>
                <div class="pull-right" data-ng-show="authentication.user">
                    <input type="submit" class="btn btn-primary" value="Save Notes">
                </div>
            </div>
        </div>
    </form>
</section>
