<section data-ng-controller="PropertiesController" data-ng-init="findVendor()">
    <div class="row">
        <div class="col-md-12">
            <h1>Register New Property</h1>

            <accordion close-others="oneAtATime">
                <accordion-group is-open="status.open">
                    <accordion-heading>
                        Vendor : <b><span ng-bind="vendor.title"/> <span ng-bind="vendor.firstName"/> <span
                            ng-bind="vendor.lastName"/></b>
                        <i class="pull-right glyphicon"
                           ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                    </accordion-heading>
                    <customer-brief-details customer="vendor">
                    </customer-brief-details>
                </accordion-group>
            </accordion>

            <form name="regPropertyForm" data-ng-submit="create()" novalidate>
                <fieldset>
                    <div class="well">
                        <h2>Property Address</h2>

                        <div class="well">
                            <h4>
                                Address Lookup
                            </h4>
                            <h4>
                                <input type="checkbox" ng-change="ChkRegAddressChanged()" ng-model="chkRegAddress"
                                       ng-true-value="1" ng-false-value="0"> same as registered.
                            </h4>
                            <label>Lookup Address: Start by searching street name</label>
                            <google-places address=address ng-model="address.FormattedAddress"
                                           my-find-finish-callback="CallBackFinishSearch('new')"
                                           class="form-control input-lg" placeholder="Find Address"
                                           value="Find Address">\
                            </google-places>
                        </div>
                        <div class="well">
                            <h2>Address Details</h2>

                            <div class="form-group required"
                                 ng-class="{ 'has-error': regPropertyForm.addressLine1.$dirty && regPropertyForm.addressLine1.$invalid }">
                                <label class="control-label" for="addressLine1">Address Line1</label>

                                <div class="controls">
                                    <input name="addressLine1" type="text" data-ng-model="addressLine1"
                                           id="addressLine1"
                                           class="form-control input-lg" placeholder="Address Line1" required>

                                    <p ng-show="regPropertyForm.addressLine1.$invalid && !regPropertyForm.addressLine1.$pristine"
                                       class="help-block">Your address line 1 is required.</p>
                                </div>
                            </div>
                            <div class="form-group required"
                                 ng-class="{ 'has-error': regPropertyForm.addressLine2.$dirty && regPropertyForm.addressLine2.$invalid }">
                                <label class="control-label" for="addressLine2">Address Line2</label>

                                <div class="controls">
                                    <input name="addressLine2" type="text" data-ng-model="addressLine2"
                                           id="addressLine2"
                                           class="form-control input-lg" placeholder="Address Line2" required>

                                    <p ng-show="regPropertyForm.addressLine2.$invalid && !regPropertyForm.addressLine2.$pristine"
                                       class="help-block">Your address line 2 is required.</p>
                                </div>
                            </div>
                            <div class="form-group required"
                                 ng-class="{ 'has-error': regPropertyForm.addressLine3.$dirty && regPropertyForm.addressLine3.$invalid }">
                                <label class="control-label" for="addressLine3">Address Line3</label>

                                <div class="controls">
                                    <input name="addressLine3" type="text" data-ng-model="addressLine3"
                                           id="addressLine3"
                                           class="form-control input-lg" placeholder="Address Line3" required>

                                    <p ng-show="regPropertyForm.addressLine3.$invalid && !regPropertyForm.addressLine3.$pristine"
                                       class="help-block">Your address line 3 is required.</p>
                                </div>
                            </div>
                            <div class="form-group required"
                                 ng-class="{ 'has-error': regPropertyForm.addressLine4.$dirty && regPropertyForm.addressLine4.$invalid }">
                                <label class="control-label" for="addressLine4">Address Line4</label>

                                <div class="controls">
                                    <input name="addressLine4" type="text" data-ng-model="addressLine4"
                                           id="addressLine4"
                                           class="form-control input-lg" placeholder="Address Line4" required>

                                    <p ng-show="regPropertyForm.addressLine4.$invalid && !regPropertyForm.addressLine4.$pristine"
                                       class="help-block">Your address line 4 is required.</p>
                                </div>
                            </div>
                            <div class="form-group required"
                                 ng-class="{ 'has-error': regPropertyForm.postcode.$dirty && regPropertyForm.postcode.$invalid }">
                                <label class="control-label" for="postcode">Zip/Postcode</label>

                                <div class="controls">
                                    <input name="postcode" type="text" data-ng-model="postcode" id="postcode"
                                           class="form-control input-lg" placeholder="Zip/Postcode" required>

                                    <p ng-show="regPropertyForm.postcode.$invalid && !regPropertyForm.postcode.$pristine"
                                       class="help-block">Your postcode is required.</p>
                                </div>
                            </div>
                            <div class="form-group required"
                                 ng-class="{ 'has-error': regPropertyForm.country.$dirty && regPropertyForm.country.$invalid }">
                                <label class="control-label" for="country">Zip/Country</label>

                                <div class="controls">
                                    <input name="country" type="text" data-ng-model="country" id="country"
                                           class="form-control input-lg" placeholder="Country" required>

                                    <p ng-show="regPropertyForm.country.$invalid && !regPropertyForm.country.$pristine"
                                       class="help-block">Your country is required.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="well">
                        <h2>Price Details</h2>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group required"
                                     ng-class="{ 'has-error': regPropertyForm.priceAsking.$dirty && regPropertyForm.priceAsking.$invalid }">
                                    <label class="control-label" for="priceAsking">Asking Price</label>

                                    <div class="controls">
                                        <input name="priceAsking" type="string" data-ng-model="priceAsking"
                                               ui-money-mask
                                               id="priceAsking"
                                               class="form-control input-lg" placeholder="Asking Price" required>

                                        <p ng-show="regPropertyForm.priceAsking.$invalid && !regPropertyForm.priceAsking.$pristine"
                                           class="help-block">Your asking price is required.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group required"
                                     ng-class="{ 'has-error': regPropertyForm.priceType.$dirty && regPropertyForm.priceType.$invalid }">
                                    <label class="control-label" for="priceType">Price Type</label>

                                    <div class="controls">
                                        <select name="priceType" class="form-control input-lg" id="priceType"
                                                ng-model="priceType">
                                            <option value="">-- Choose --</option>
                                            <option value="Unknown" selected="selected">Unknown</option>
                                            <option value="none">None</option>
                                            <option value="ono">Or Nearest Offer</option>
                                            <option value="guide">Guide Price</option>
                                            <option value="fixed">Fixed Price</option>
                                            <option value="oieo">Offers in Excess of</option>
                                            <option value="oiro">Offers in Region of</option>
                                            <option value="sbt">Sale by Tender</option>
                                            <option value="poa">POA</option>
                                            <option value="from">From</option>
                                            <option value="lease">Leasehold</option>
                                            <option value="shared">Shared ownership</option>
                                            <option value="over">Offers Over</option>
                                            <option value="part">Part buy, part rent</option>
                                            <option value="equity">Shared Equity</option>
                                            <option value="loan">Equity loan</option>
                                        </select>

                                        <p ng-show="regPropertyForm.priceType.$error.required" class="help-block">Your
                                            price type is required.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group required"
                                     ng-class="{ 'has-error': regPropertyForm.chainType.$dirty && regPropertyForm.chainType.$invalid }">
                                    <label class="control-label" for="priceType">Chain Situation</label>

                                    <div class="controls">
                                        <select name="chainType" class="form-control input-lg" id="chainType"
                                                ng-model="chainType">
                                            <option value="">-- Choose --</option>
                                            <option value="unknown">Unknown</option>
                                            <option value="no_chain" selected="selected">No chain</option>
                                            <option value="already_bought">Already purchased</option>
                                            <option value="currently_looking">Currently looking</option>
                                            <option value="moving_abroad">Moving abroad</option>
                                            <option value="moving_to_rented">Moving to rented</option>
                                            <option value="other">Other</option>
                                            <option value="tenanted">Tenanted</option>
                                        </select>

                                        <p ng-show="regPropertyForm.chainType.$error.required" class="help-block">Your
                                            chain type is required.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="well">
                        <h2>Property Details</h2>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group required"
                                     ng-class="{ 'has-error': regPropertyForm.propertyType.$dirty && regPropertyForm.propertyType.$invalid }">
                                    <label class="control-label" for="propertyType">Property Type</label>

                                    <div class="controls">
                                        <select name="propertyType" class="form-control input-lg" id="propertyType"
                                                ng-model="propertyType">
                                            <option value="">-- Choose --</option>
                                            <option value="2" selected="selected">Bungalow</option>
                                            <option value="1">Detached House</option>
                                            <option value="3">Terraced House</option>
                                            <option value="4">Semi-detached House</option>
                                            <option value="5">Townhouse</option>
                                            <option value="6">Flat</option>
                                            <option value="7">End of terrace House</option>
                                            <option value="8">Link-Detached House</option>
                                            <option value="9">Penthouse</option>
                                            <option value="10">Maisonette</option>
                                            <option value="11">Apartment</option>
                                            <option value="12">Studio Flat</option>
                                            <option value="13">House Share</option>
                                            <option value="18">Land</option>
                                            <option value="19">End Town House</option>
                                            <option value="20">Link-Terraced House</option>
                                            <option value="21">End Property</option>
                                            <option value="26">Detached Barn Conversion</option>
                                            <option value="35">Barn Conversion</option>
                                            <option value="27">Cottage</option>
                                            <option value="28">House</option>
                                            <option value="31">Retirement Property</option>
                                            <option value="32">House/Flats</option>
                                            <option value="33">Equestrian Property</option>
                                            <option value="34">Houseboat</option>
                                            <option value="36">Coach House</option>
                                            <option value="37">Static Caravan</option>
                                            <option value="38">Farm House</option>
                                            <option value="39">Bungalow with Annexe</option>
                                            <option value="40">Garage</option>
                                            <option value="41">Mobile Home</option>
                                            <option value="42">Block of Apartments</option>
                                        </select>

                                        <p ng-show="regPropertyForm.propertyType.$error.required" class="help-block">
                                            Your property type is required.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group required"
                                     ng-class="{ 'has-error': regPropertyForm.tenureType.$dirty && regPropertyForm.tenureType.$invalid }">
                                    <label class="control-label" for="tenureType">Tenure</label>

                                    <div class="controls">
                                        <select name="tenureType" class="form-control input-lg" id="tenureType"
                                                ng-model="tenureType">
                                            <option value="">-- Choose --</option>
                                            <option value="unknown" selected="selected">Unknown</option>
                                            <option value="freehold">Freehold</option>
                                            <option value="shared freehold">Shared Freehold</option>
                                            <option value="leasehold">Leasehold</option>
                                        </select>

                                        <p ng-show="regPropertyForm.tenureType.$error.required" class="help-block">Your
                                            tenure type is required.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group required"
                                     ng-class="{ 'has-error': regPropertyForm.propertyAgeYrs.$dirty && regPropertyForm.propertyAgeYrs.$invalid }">
                                    <label class="control-label" for="propertyAgeYrs">Property Age In Years</label>

                                    <div class="controls">
                                        <input name="propertyAgeYrs" type="text" data-ng-model="propertyAgeYrs"
                                               id="propertyAgeYrs" ui-number-mask="0"
                                               class="form-control input-lg" placeholder="Property Age In Years"
                                               required>

                                        <p ng-show="regPropertyForm.propertyAgeYrs.$invalid && !regPropertyForm.propertyAgeYrs.$pristine"
                                           class="help-block">Your property age is required.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group required"
                                     ng-class="{ 'has-error': regPropertyForm.numberOfBeds.$dirty && regPropertyForm.numberOfBeds.$invalid }">
                                    <label class="control-label" for="numberOfBeds">No. of Beds</label>

                                    <div class="controls">
                                        <input name="numberOfBeds" type="text" data-ng-model="numberOfBeds"
                                               id="numberOfBeds" ui-number-mask="0"
                                               class="form-control input-lg" placeholder="No. of Beds" required>

                                        <p ng-show="regPropertyForm.numberOfBeds.$invalid && !regPropertyForm.numberOfBeds.$pristine"
                                           class="help-block">Your number of beds is required.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group required"
                                     ng-class="{ 'has-error': regPropertyForm.numberOfReceptions.$dirty && regPropertyForm.numberOfReceptions.$invalid }">
                                    <label class="control-label" for="numberOfReceptions">No. of Receptions</label>

                                    <div class="controls">
                                        <input name="numberOfReceptions" type="text"
                                               data-ng-model="numberOfReceptions"
                                               id="numberOfReceptions" ui-number-mask="0"
                                               class="form-control input-lg" placeholder="No. of Reception" required>

                                        <p ng-show="regPropertyForm.numberOfReceptions.$invalid && !regPropertyForm.numberOfReceptions.$pristine"
                                           class="help-block">Your number of receptions is required.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group required"
                                     ng-class="{ 'has-error': regPropertyForm.numberOfBathrooms.$dirty && regPropertyForm.numberOfBathrooms.$invalid }">
                                    <label class="control-label" for="numberOfBathrooms">No. of Bathrooms</label>

                                    <div class="controls">
                                        <input name="numberOfBathrooms" type="text" data-ng-model="numberOfBathrooms"
                                               id="numberOfBathrooms" ui-number-mask="0"
                                               class="form-control input-lg" placeholder="No. of Bathrooms" required>

                                        <p ng-show="regPropertyForm.numberOfBathrooms.$invalid && !regPropertyForm.numberOfBathrooms.$pristine"
                                           class="help-block">Your number of bathrooms is required.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="well">
                        <h2>Council Tax Details</h2>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group required"
                                     ng-class="{ 'has-error': regPropertyForm.councilTaxBand.$dirty && regPropertyForm.councilTaxBand.$invalid }">
                                    <label class="control-label" for="councilTaxBand">Council Tax Band</label>

                                    <div class="controls">
                                        <input name="councilTaxBand" type="text" data-ng-model="councilTaxBand"
                                               id="councilTaxBand"
                                               class="form-control input-lg" placeholder="Council Tax Band" required>

                                        <p ng-show="regPropertyForm.councilTaxBand.$invalid && !regPropertyForm.councilTaxBand.$pristine"
                                           class="help-block">Your council tax band is required.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group required"
                                     ng-class="{ 'has-error': regPropertyForm.councilTaxCost.$dirty && regPropertyForm.councilTaxCost.$invalid }">
                                    <label class="control-label" for="councilTaxCost">Council Tax Cost</label>

                                    <div class="controls">
                                        <input name="councilTaxCost" type="text" data-ng-model="councilTaxCost"
                                               id="councilTaxCost" currency-input
                                               class="form-control input-lg" placeholder="Council Tax Cost" required>

                                        <p ng-show="regPropertyForm.councilTaxCost.$invalid && !regPropertyForm.councilTaxCost.$pristine"
                                           class="help-block">Your council tax cost is required.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group required"
                                     ng-class="{ 'has-error': regPropertyForm.councilTaxCostTerm.$dirty && regPropertyForm.councilTaxCostTerm.$invalid }">
                                    <label class="control-label">Council Tax Term</label>

                                    <div class="controls">
                                        <select name="councilTaxCostTerm" class="form-control input-lg"
                                                id="councilTaxCostTerm" ng-model="councilTaxCostTerm">
                                            <option value="">-- Choose --</option>
                                            <option value="Per Annum">Per Annum</option>
                                            <option value="Per Month">Per Month</option>
                                        </select>

                                        <p ng-show="regPropertyForm.councilTaxCostTerm.$error.required"
                                           class="help-block">Your council tax term is required.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="well">
                        <h2>Details</h2>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group required"
                                     ng-class="{ 'has-error': regPropertyForm.keyFeatures.$dirty && regPropertyForm.keyFeatures.$invalid }">
                                    <label class="control-label" for="keyFeatures">Key Features</label>

                                    <div class="controls">
								<textarea name="keyFeatures" type="text" data-ng-model="keyFeatures" id="keyFeatures"
                                          class="form-control input-lg" required/>
                                        <em>Please enter at least 3 key features separated by a comma ','.</em>

                                        <p ng-show="regPropertyForm.keyFeatures.$error.required" class="help-block">Your
                                            key features is required.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group required">
                                    <label class="control-label">Details</label>

                                    <div class="controls">
                                        <text-angular ng-model="propertyDesc"></text-angular>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group required"
                                     ng-class="{ 'has-error': regPropertyForm.heatingType.$dirty && regPropertyForm.heatingType.$invalid }">
                                    <label class="control-label" for="heatingType">Heating Type</label>

                                    <div class="controls">
                                        <select name="heatingType" class="form-control input-lg" id="heatingType"
                                                ng-model="heatingType">
                                            <option value="" selected="selected">-- Choose --</option>
                                            <option value="gas">Gas</option>
                                            <option value="oil">Oil</option>
                                            <option value="electric">Electric</option>
                                            <option value="solid fuel">Solid Fuel</option>
                                            <option value="other">Other</option>
                                        </select>

                                        <p ng-show="regPropertyForm.heatingType.$error.required" class="help-block">Your
                                            heating type is required.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group required"
                                     ng-class="{ 'has-error': regPropertyForm.doubleGlazing.$dirty && regPropertyForm.doubleGlazing.$invalid }">
                                    <label class="control-label" for="heatingType">Double Glazing</label>

                                    <div class="controls">
                                        <select name="doubleGlazing" class="form-control input-lg" id="doubleGlazing"
                                                ng-model="doubleGlazing">
                                            <option value="" selected="selected">-- Choose --</option>
                                            <option value="none">None</option>
                                            <option value="part">Part</option>
                                            <option value="all">All</option>
                                        </select>

                                        <p ng-show="regPropertyForm.doubleGlazing.$error.required" class="help-block">
                                            Your double glazing is required.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group required"
                                     ng-class="{ 'has-error': regPropertyForm.solidWoodFlooring.$dirty && regPropertyForm.solidWoodFlooring.$invalid }">
                                    <label class="control-label" for="solidWoodFlooring">Solid Wood Flooring</label>

                                    <div class="controls">
                                        <select name="solidWoodFlooring" class="form-control input-lg"
                                                id="solidWoodFlooring" ng-model="solidWoodFlooring">
                                            <option value="" selected="selected">-- Choose --</option>
                                            <option value="none">None</option>
                                            <option value="part">Part</option>
                                            <option value="all">All</option>
                                        </select>

                                        <p ng-show="regPropertyForm.solidWoodFlooring.$error.required"
                                           class="help-block">Your flooring type is required.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="well">
                        <h2>External Information</h2>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group required"
                                     ng-class="{ 'has-error': regPropertyForm.parkingType.$dirty && regPropertyForm.parkingType.$invalid }">
                                    <label class="control-label" for="parkingType">Parking Type</label>

                                    <div class="controls">
                                        <select name="parkingType" class="form-control input-lg" id="parkingType"
                                                ng-model="parkingType">
                                            <option value="" selected="selected">-- Choose --</option>
                                            <option value="none">None</option>
                                            <option value="street-parking">Street Parking</option>
                                            <option value="Off-street-parking">Off Street Parking</option>
                                            <option value="garage">Garage</option>
                                            <option value="single-garage-and-driveway">Single Garage and Driveway
                                            </option>
                                            <option value="double garage">Double Garage</option>
                                            <option value="double-garage-and-driveway">Double Garage and Driveway
                                            </option>
                                            <option value="private-driveway">Private Driveway</option>
                                            <option value="permit-holder">Permit Holder</option>
                                            <option value="allocated-parking-spot">Allocated Parking Spot</option>
                                            <option value="underground-parking">Underground Parking</option>
                                            <option value="secure-gated-allocated-parking">Secure Gated Allocated
                                                Parking
                                            </option>

                                        </select>

                                        <p ng-show="regPropertyForm.parkingType.$error.required" class="help-block">Your
                                            parking type is required.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group required"
                                     ng-class="{ 'has-error': regPropertyForm.haveLand.$dirty && regPropertyForm.haveLand.$invalid }">
                                    <label class="control-label" for="haveLand">Land</label>

                                    <div class="controls">
                                        <select name="haveLand" class="form-control input-lg" id="haveLand"
                                                ng-model="haveLand">
                                            <option value="" selected="selected">-- Choose --</option>
                                            <option value="none">Yes</option>
                                            <option value="part">No</option>
                                        </select>

                                        <p ng-show="regPropertyForm.haveLand.$error.required" class="help-block">Your
                                            land is required.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group required"
                                     ng-class="{ 'has-error': regPropertyForm.haveGarden.$dirty && regPropertyForm.haveGarden.$invalid }">
                                    <label class="control-label" for="haveGarden">Garden</label>

                                    <div class="controls">
                                        <select name="haveGarden" class="form-control input-lg" id="haveGarden"
                                                ng-model="haveGarden">
                                            <option value="" selected="selected">-- Choose --</option>
                                            <option value="none">Yes</option>
                                            <option value="part">No</option>
                                        </select>

                                        <p ng-show="regPropertyForm.haveGarden.$error.required" class="help-block">Your
                                            garden is required.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="well">
                        <h2>Room(s) Information</h2>
                        {{roomsData | json}}
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group pull-left">
                                    <input type="button" ng-click="addNewRoom()" value="+ Add Room"
                                           class="btn btn-default btn-lg">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div ng-repeat="room in roomsData" ng-form="roomForm">
                                    <div class="well">

                                        <h2>Add Room Details</h2>

                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group required"
                                                     ng-class="{ 'has-error': regForm.roomName.$dirty && regForm.roomName.$invalid }">
                                                    <label class="control-label" for="roomName">Room Name</label>

                                                    <div class="controls">
                                                        <input name="roomName" type="text" data-ng-model="roomName"
                                                               id="roomName"
                                                               class="form-control input-lg" placeholder="Room Name"
                                                               required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group required"
                                                     ng-class="{ 'has-error': regForm.roomType.$dirty && regForm.roomType.$invalid }">
                                                    <label class="control-label" for="roomType">Room Type</label>

                                                    <div class="controls">

                                                        <input name="roomType" type="text" data-ng-model="roomType"
                                                               id="roomType"
                                                               class="form-control input-lg" placeholder="Room Type"
                                                               required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group required"
                                                     ng-class="{ 'has-error': regForm.unitOfMeasure.$dirty && regForm.unitOfMeasure.$invalid }">
                                                    <label class="control-label" for="unitOfMeasure">Unit of
                                                        Measurement</label>

                                                    <div class="controls">
                                                        <select name="unitOfMeasure" class="form-control input-lg"
                                                                id="unitOfMeasure"
                                                                ng-model="unitOfMeasure">
                                                            <option value="meters-centimeters" selected="selected">
                                                                Meters / Centimeters
                                                            </option>
                                                            <option value="feet-inches">Feet / Inches</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group required">
                                                    <label class="control-label">Room Width (ft/in)</label>

                                                    <div class="controls">
                                                        <input name="roomWidthFt" type="text" ui-number-mask="2"
                                                               data-ng-model="roomWidthFt" id="roomWidthFt"
                                                               class="form-control input-lg" placeholder="Room Width Ft"
                                                               required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group required">
                                                    <label class="control-label">&nbsp;</label>

                                                    <div class="controls">
                                                        <input name="roomWidthIn" type="text" ui-number-mask="2"
                                                               data-ng-model="roomWidthIn" id="roomWidthIn"
                                                               class="form-control input-lg" placeholder="Room Width In"
                                                               required>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="form-group required">
                                                    <label class="control-label">Room Length (ft/in)</label>

                                                    <div class="controls">
                                                        <input name="roomLengthFt" type="text"
                                                               data-ng-model="roomLengthFt"
                                                               id="roomLengthFt" ui-number-mask="2"
                                                               class="form-control input-lg"
                                                               placeholder="Room Length Ft" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group required">
                                                    <label class="control-label">&nbsp;</label>

                                                    <div class="controls">
                                                        <input name="roomLengthIn" type="text"
                                                               data-ng-model="roomLengthIn"
                                                               id="roomLengthIn" ui-number-mask="2"
                                                               class="form-control input-lg"
                                                               placeholder="Room Length In" required>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group required">
                                                    <label class="control-label">Room Details</label>

                                                    <div class="controls">
                                                        <text-angular ng-model="roomDetails"></text-angular>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="well" ng-show="false">
                        <h2>Add Floorplans</h2>

                        <div class="row">

                        </div>
                    </div>
                    <div class="well" ng-show="false">
                        <h2>Add EPC</h2>

                        <div class="row" ng-show="false">

                        </div>
                    </div>
                    <div class="well" ng-show="false">
                        <h2>Add Identification</h2>

                        <div class="row">

                        </div>
                    </div>
                    <div class="well" ng-show="false">
                        <h2>Google Location</h2>

                        <div class="row">

                        </div>
                    </div>
                    <div class="well">
                        <h2>Add Directions</h2>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group required">
                                    <label class="control-label">Directions/Landmarks etc.</label>

                                    <div class="controls">
                                        <text-angular ng-model="propertyDirections"></text-angular>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group pull-right">
                        <input type="submit" ng-disabled="!enableSave" value="Save" class="btn btn-default btn-lg">
                    </div>
                    <div data-ng-show="error" class="text-danger">
                        <strong data-ng-bind="error"></strong>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</section>
